<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Prescription</title>
</head>
<body style="background-color: #e6eaed;margin:0;">
<h1>Patient Prescription</h1>
</form>
{% if patient_prescription %}
    <h2>患者ID 为 '{{ patient_id }}'的处方信息查询结果:</h2>
    <p>{{ patient_prescription }}</p>
{% else %}
    <p>暂无处方信息</p>
{% endif %}
<p><a href="{{ url_for('patient_dashboard') }}">Back to Dashboard</a></p>

</div>
</body>

</html>
