<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Doctor Profile</title>
</head>
<body>
<h1>Edit Doctor Profile</h1>
<!-- 包含医生个人信息的表单 -->
<form method="post" action="{{ url_for('edit_doctor_profile') }}" enctype="multipart/form-data">
    <!-- 添加相应的表单字段，如姓名、联系方式等 -->
    <label for="passwd">Password:</label>
    <input type="text" name="passwd" value="{{ passwd }}">
    <label for="introduction">Introduction:</label>
    <input type="text" name="introduction" value="{{ introduction }}">
    <label for="photo">Photo:</label>
    <input type="file" name="file" value="{{ photo }}">
    <button type="submit">Save Changes</button>

</form>
<p><a href="{{ url_for('doctor_dashboard') }}">Back to Dashboard</a></p>
</body>
</html>

