<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Schedule</title>
</head>
<body>
<h1>Doctor Schedule</h1>
<!-- 显示医生排班日程的内容 -->
<!-- 添加排班信息的表格 -->
</form>
{% if doctor_schedule %}
    <h2>医生ID 为 '{{ doctor_id }}'的排版日程信息查询结果:</h2>
    <table border="1">
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in doctor_schedule %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>ID不存在</p>
{% endif %}
<p><a href="{{ url_for('doctor_dashboard') }}">Back to Dashboard</a></p>
</body>
</html>
