<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drugin</title>
</head>
<body>
<h1>Drugin</h1>

<!-- 处方表单 -->
<form method="post" action="{{ url_for('insert_drugin') }}">
    <label for="drug_name">drug_name:</label>
    <input type="text" name="drug_name" required>
    <label for="in_number">in_number:</label>
    <input type="text" name="in_number" required>
    <label for="batch">batch:</label>
    <input type="text" name="batch" required>
    <label for="supplier_id">supplier_id:</label>
    <input type="text" name="supplier_id" required>
    <label for="instruction">instruction:</label>
    <input type="text" name="instruction" required>
    <label for="n">n:</label>
    <input type="text" name="n" required>
    <label for="admin_id">admin_id:</label>
    <input type="text" name="admin_id" required>
    <label for="notes">notes:</label>
    <input type="text" name="notes" required>

    <button type="submit">In</button>
</form>

<p><a href="{{ url_for('drugadmin_dashboard') }}">Back to Dashboard</a></p>
</body>
</html>
