<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Nurse Profile</title>
</head>
<body>
<h1>Edit Nurse Profile</h1>

<form method="post" action="{{ url_for('edit_nurse_profile') }}" enctype="multipart/form-data">
    <label for="new_phone">New Phone：</label>
    <input type="text" name="new_phone" value="{{ new_phone }}">
    <label for="new_passwd">New Password：</label>
    <input type="text" name="new_passwd" value="{{ new_passwd }}">
    <label for="photo">Photo:</label>
    <input type="file" name="file" value="{{ photo }}">
    <button type="submit">Save Changes</button>
</form>

<!-- 返回仪表板链接 -->
<p><a href="{{ url_for('nurse_dashboard') }}">返回仪表板</a></p>
</body>
</html>

