<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse Dashboard</title>
</head>
<body>
<div id="NurseInfo">
    {% if data %}
        <h2>ID 为 {{ nurse_id }}的药房护士信息:</h2>
        <ul>
            {% for key, value in data.items() %}
                {% if key == 'photo' %}
                    <li><strong>{{ key }}:</strong> <img src="data:image/jpeg;base64,{{ value }}" alt="Nurse Photo">
                    </li>
                {% else %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No information available.</p>
    {% endif %}
</div>

<p><a href="{{ url_for('home') }}">Back to Home</a></p>
<ul>
    <li><a href="{{ url_for('edit_nurse_profile') }}">Edit Nurse Profile</a></li>
    <li><a href="{{ url_for('handle_prescription') }}">Handle Prescription</a></li>

</body>
</html>
