<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Information</title>
</head>
<body>
    <p><a href="{{ url_for('home') }}">Back to Home</a></p>
  <h1>医生信息查询</h1>
    <form method="post" action="{{ url_for('doctor_info_page') }}">
        <label for="search_term">要查询的医生ID</label>
        <input type="text" name="search_term" id="search_term">
        <button type="submit">搜索</button>
   <div id="hospitalInfo">
        {% if data %}
            <h2>ID 为 {{search_term}}的医生信息:</h2>
            <ul>
                {% for key, value in data.items() %}
                    {% if key == 'photo' %}
                        <li><strong>{{ key }}:</strong> <img src="data:image/jpeg;base64,{{ value }}" alt="Doctor Photo"></li>
                    {% else %}
                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No information available.</p>
        {% endif %}
    </div>
</body>
</html>