<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to HIS</h1>
    <p><a href="{{ url_for('hospital_info_page') }}">Hospital Information</a></p>
    <p><a href="{{ url_for('department_info_page') }}">Department Information</a></p>
    <p><a href="{{ url_for('doctor_info_page') }}">Doctor Information</a></p>
    <p><a href="{{ url_for('schedule_info_page') }}">Schedule Information</a></p>
    <p><a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>
