<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Database Example</title>
</head>
<body>
    <h1>医院信息查询</h1>
    <form method="post" action="{{ url_for('index') }}">
        <label for="search_term">要查询的医院ID</label>
        <input type="text" name="search_term" id="search_term">
        <button type="submit">搜索</button>
    </form>
    {% if data %}
        <h2>ID 为 '{{ search_term }}'的医院信息查询结果:</h2>
        <table border="1">
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>ID不存在</p>
    {% endif %}
</body>
</html>
