<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
</head>
<body>
    <h1>Welcome,  {{ patient_info[1] }}</h1>

    {% if patient_info %}
        <h2>Your Information:</h2>
        <table border="1">
            <tr>
                {% for column in patient_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for value in patient_info %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>No information available.</p>
    {% endif %}

    <p><a href="{{ url_for('home') }}">Back to Home</a></p>
<ul>
        <li><a href="{{ url_for('edit_patient_profile') }}">Edit Patient Profile</a></li>
        <li><a href="{{ url_for('patient_diagnosis') }}">View Patient Diagnosis</a></li>
        <li><a href="{{ url_for('patient_case') }}">View Patient Case</a></li>
        <li><a href="{{ url_for('patient_prescription') }}">View Patient Prescription</a></li>
    </ul>
</body>
</html>
