<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schedule Information</title>
</head>
<body>
    <p><a href="{{ url_for('home') }}">Back to Home</a></p>
  <h1>排班日程信息查询</h1>
    <form method="post" action="{{ url_for('schedule_info_page') }}">
        <label for="search_term">要查询的排班日程的医生ID</label>
        <input type="text" name="search_term" id="search_term">
        <button type="submit">搜索</button>
    </form>
    {% if data %}
        <h2>医生ID 为 '{{ search_term }}'的排版日程信息查询结果:</h2>
        <table border="1">
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>ID不存在</p>
    {% endif %}
</body>
</html>